/.vscode
/__pycache__/
*.pyc
.env
venv/
.env.local
.env.*.local
.DS_Store
.idea/
*.iml
/out/
/build/
/dist/
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
coverage-final.json
.cache/
.pytest_cache/
.tox/
.mypy_cache/
.pyre/
celerybeat-schedule
instance/
.webassets-cache
.scrapy
docs/_build/
*.egg-info/
.eggs/
pip-wheel-metadata/
.pytest_cache/
htmlcov/
.ipynb_checkpoints
logs/
*.log

/saved_images
ARGUS-key.pem